ion-grid,
ion-row {
  height: 100%;
  justify-content: center;
}


.container {
  height: 100%;
  width: 100vw;
}

.gradient {
  background-image: linear-gradient(to top right, rgb(97, 217, 222), rgb(231, 57, 245));
}




.card-border {
  border-radius: 1rem;
}

.card-center {
  display: flex;
  justify-content: center;
  align-self: center;

}

.card-size {
  max-height: 45rem;
  width: 30rem;
}

.card-color {
  background-color: #ffffff;
}

.ion-input-placeholder {
  color: #ACACAE;
  font-size: 1rem;
}

ion-icon {
  color: #ACACAE;
  height: 1.4rem;
}

ion-label {
  font-size: 1rem;
  color: #3E4042;
}

a {
  text-decoration: none;
  color: #3E4042;
  float: right;
}

.ion-button {

  --background: linear-gradient(to right, rgb(97, 217, 222), rgb(231, 57, 245));
  margin: 4rem 0;
}

.orSignup {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  color: #ACACAE;
}
